.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  .header h1{
    font-family: 'Jost', sans-serif;
    text-shadow: 0px 2px 3px #DB7F7F;
    margin-bottom: 0px;
    letter-spacing: 2px;
  }
  .description{
    margin-top: 5px;
  }

  .intro{
    color:white;
    text-align: 'left';
    }
    
    .enter{
      filter: invert(96%) sepia(94%) saturate(2%) hue-rotate(189deg) brightness(105%) contrast(100%);
      font-weight: bold;
      margin-top: 70px;
      cursor: pointer;
      padding: 5px 30px;
      /* border: solid rgb(151, 56, 56) 2px; */
    }