.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-contact{
    padding-top: 10%
}

.contact-form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 70%;
}

input[type='text'], input[type='email']{
    border: none;
    margin-bottom: 14px;
    padding-left: 20px  ;
    height: 40px;
    width: 60%;
    border-radius: 20px;
}

.submit-button {
    position: relative;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background-color: #001858;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.submit-button::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.281);
    transition: all 0.5s;
  }
  
  .submit-button:active::after {
    background-color: rgba(255, 255, 255, 0.281);
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }

  .submit-button:active {
    top: 1px;
  }

input:focus{
    outline: none;
    outline-color: #001858;
    transition: 2s;
}


textarea{
    border: none;
    margin-bottom: 14px;
    padding-left: 20px  ;
    height: 100px;
    width: 60%;
    border-radius: 20px;
}

textarea:focus{
    outline-width: 0;
}

::placeholder{
    font-family: 'Work Sans', sans-serif;
}

.return-message{
    text-align: center;
    padding-top: 1%;
    font-weight: bold;
}