.sidebar {
  position: absolute;
  float: right;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  position: fixed;
}

button {
  outline: none;
  border: none;
}

.home-button,
.projects-button {
  margin: 5px;
  margin-right: 30px;
  border-radius: 100%;
  padding: 10px;
  opacity: 0.7;
  transition: 0.5s;
}

.home-group,
.projects-group {
  display: flex;
  flex-direction: row-reverse;
}

.home-sidebar,
.projects-sidebar {
  display: inline;
  font-size: 20px;
  color: white;
  margin-right: 10px;
  opacity: 0;
  transition: 0.4s;
}

.home-button:hover + .home-sidebar {
  display: block;
  opacity: 1;
}

.projects-button:hover + .projects-sidebar {
  display: block;
  opacity: 1;
}

.home-button:hover,
.projects-button:hover {
  cursor: pointer;
  opacity: 1;
}

/* tablet and phone screens will NOT show the sidebar */
@media screen and (max-width: 1240px) {
  .sidebar {
    display: none;
  }
}
