.sidebar-com {
  position: absolute;
  float: right;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 100;
}

button {
  outline: none;
  border: none;
}

.button {
  background-color: #f582ae;
  margin: 5px;
  margin-right: 30px;
  border-radius: 100%;
  padding: 10px;
  opacity: 0.7;
  transition: 0.5s;
}

.group {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  font-family: "Work Sans", sans-serif;
  display: inline;
  font-size: 20px;
  color: #001858;
  margin-right: 10px;
  opacity: 0;
  transition: 0.4s;
}

.button:hover + .sidebar {
  display: block;
  opacity: 1;
}

.button:hover,
.button:hover {
  cursor: pointer;
  opacity: 1;
}

/* tablet and phone screens will NOT show the sidebar */
@media screen and (max-width: 1240px) {
  .sidebar-com {
    display: none;
  }
}
