@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap');
html, body {
  
  width: 100%;
  height:100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
    background: linear-gradient(-45deg, #f8ccc0, #eea2be, #FFAEAE);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h4{
  margin-left: 15px;
  margin-bottom: 0%;
  margin-top: 5px;
}

.custom-shape-divider-top-1634922272 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634922272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 126px;
}

.custom-shape-divider-top-1634922272 .shape-fill {
  fill: #FFFFFF;
}
